mat-toolbar {
  display: flex;
  align-items: center;

  & > span {
    margin: 0 0.5rem;

    &:nth-child(1) {
      margin-right: 3rem;
    }

    &.header__item--small {
      font-size: 1rem;
    }
  }

  & > button {
    margin-left: auto;
    width: auto;
  }
}
