mat-toolbar {
  display: flex;
  align-items: center;

  span.header__item {
    margin: 0 0.5rem;
  }

  span.header__item--small {
    font-size: 1rem;
  }

  span.header__item:nth-child(1) {
    margin-right: 3rem;
  }

  button {
    margin-left: auto;
    width: auto;
  }
}
