<mat-toolbar color="primary">
  <span class="header__item">Recipe Book</span>
  <span
    class="header__item header__item--clickable"
    routerLink="recipes"
    *ngIf="isAuthenticated">Recipes</span>
  <span
    class="header__item header__item--clickable"
    routerLink="shopping-list"
    *ngIf="isAuthenticated">Shopping List</span>
  <span
    class="header__item header__item--clickable"
    >
    <span *ngIf="!isAuthenticated" routerLink="auth">Login</span>
    <span *ngIf="isAuthenticated" (click)="onLogout()">Logout</span>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Manage Button">
    <span>Manage</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSaveData()">
      <mat-icon>save</mat-icon>
      <span>Save Data</span>
    </button>
    <button mat-menu-item (click)="onFetchData()">
      <mat-icon>get_app</mat-icon>
      <span>Fetch Data</span>
    </button>
  </mat-menu>
</mat-toolbar>
