<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <section class="form-control--buttons">
    <button
      mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      >
      {{ editMode ? 'Update' : 'Add' }}
    </button>
    <button
      mat-stroked-button
      color="accent"
      type="button"
      (click)="onDelete()"
      *ngIf="editMode"
      >
      Delete
    </button>
    <button
      mat-stroked-button
      type="button"
      (click)="onCancel()"
      >
      Cancel
    </button>
  </section>

  <section class="form-group">
    <section class="form-control">
      <mat-form-field appearance="fill">
        <mat-label>Recipe Name</mat-label>
        <input
          matInput
          placeholder="Cheese Cake"
          name="name"
          formControlName="name"
          >
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Please enter the name!</mat-error>
      </mat-form-field>
    </section>
    <section class="form-control">
      <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input
          matInput
          placeholder="https://image.jpg"
          name="imagePath"
          formControlName="imagePath"
          #imagePath
          >
        <mat-error *ngIf="form.get('imagePath')?.invalid && form.get('imagePath')?.touched">
          <span *ngIf="form.get('imagePath')?.errors?.required">Please enter the Image URL!</span>
        </mat-error>
      </mat-form-field>
    </section>
    <section class="form-control--img" *ngIf="imagePath.value">
      <img [src]="imagePath.value" alt="Ingredient Image">
    </section>
    <section class="form-control">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="description"
          placeholder="Description of the recipe."
          formControlName="description"
          >
        </textarea>
        <mat-error *ngIf="form.get('description')?.invalid && form.get('description')?.touched">Please enter the description!</mat-error>
      </mat-form-field>
    </section>

    <section class="form-array" formArrayName="ingredients">
      <section
        class="form-control--ingredient"
        *ngFor="let ingredient of ingredientControls; index as index"
        [formGroupName]="index">
        <mat-form-field appearance="fill">
          <mat-label>Ingredient Name</mat-label>
          <input
            matInput
            placeholder="Kale"
            name="name"
            formControlName="name"
            >
          <mat-error *ngIf="form.get(['ingredients', index, 'name'])?.invalid && form.get(['ingredients', index, 'name'])?.touched">Please enter the name!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ingredient Amount</mat-label>
          <input
            matInput
            placeholder="9"
            name="amount"
            formControlName="amount"
            >
          <mat-error *ngIf="form.get(['ingredients', index, 'amount'])?.invalid && form.get(['ingredients', index, 'amount'])?.touched">
            <span *ngIf="form.get(['ingredients', index, 'amount'])?.errors?.required">Please enter the amount!</span>
            <span *ngIf="form.get(['ingredients', index, 'amount'])?.errors?.pattern">Please enter a number that is greater than 0!</span>
          </mat-error>
        </mat-form-field>
        <button
          mat-stroked-button
          color="accent"
          type="button"
          (click)="onIngredientDelete(index)"
          >
          X
        </button>
      </section>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onIngredientAdd()"
        >
        Add Ingredient
      </button>
    </section>
  </section>
</form>
