<article>
  <img [src]="recipe.imagePath" alt="{{recipe.name}}">
  <h1>{{ recipe.name }}</h1>
  <button mat-icon-button [matMenuTriggerFor]="recipeManage" aria-label="Manage Recipe Button">
    <span>Manage Recipe</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #recipeManage="matMenu">
    <button mat-menu-item (click)="onAddToShoppingList()">
      <mat-icon>shopping_cart</mat-icon>
      <span>To Shopping List</span>
    </button>
    <button mat-menu-item [routerLink]="['/recipes', id, 'edit']">
      <mat-icon>create</mat-icon>
      <span>Edit Recipe</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete Recipe</span>
    </button>
  </mat-menu>
  <section>{{ recipe.description }}</section>
  <section>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} ({{ ingredient.amount }})</mat-list-item>
    </mat-list>
  </section>
</article>
